{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Products</h1>

    {% if products %}
    {% for product in products %}
    <div class="d-flex ">
        <div class="product-card">
            <img src=" media/{{ product.image }}"  height="200" alt="">
        </div>
        <div class="product-name">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: {{ product.price }}</p>

        </div>
    </div>
    <hr>
    {% endfor %}
    {% else %}
    <p>No products available.</p>
    {% endif %}
</body>

</html>