*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body{
    background: #f2f2f2;

}

/* .product-card{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s;
    width: 300px;
    margin: 20px;
} */
.d-flex{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
}